{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
Reset your password 
{% endblock %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>reset</title>
</head>
<body>
    <h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the address your registered with.</p>
<button type="button" href="{% url 'login' %}" class="btn btn-primary">Back to Log In</button>
</body>
</html>

{% endblock %}