{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <!-- Bootstrap CSS link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS for styling -->
    <style>
        body {
            background-color: rgb(0, 74, 123);
        }

        .container {
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="mb-4">Add Course</h2>
        <form action="{% url 'addcourse' %}" enctype="multipart/form-data" id="form" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="instituteLicenseNumber">Institute
                            License Number</label>
                        <input type="text" class="form-control" id="instituteLicenseNumber"
                            name="instituteLicenseNumber" value="{{ user.institute_lis_no }}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="instituteName">Institute Name</label>
                        <input type="text" class="form-control" id="instituteName" name="instituteName"
                            value="{{ user.first_name }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Start Date -->
                    <div class="form-group">
                        <label for="course_name">Course Name *</label>
                        <input type="text" class="form-control" id="course_name" name="course_name"
                            placeholder="Eg:- MS in Cloud Computing" required>
                        <span id="course_namespan" style="font-size: 12px;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Duration -->
                    <div class="form-group">
                        <label for="course_mode">Course Mode *</label>
                        <select class="form-control" id="course_mode" name="course_mode">
                            <option value=""></option>
                            <option value="hybrid">Hybrid</option>
                            <option value="Online">Online</option>
                            <option value="On-campus">On-campus</option>
                        </select>
                        <span id="course_modespan" style="font-size: 12px;"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Duration -->
                    <div class="form-group">
                        <label for="course_type">Course Type *</label>
                        <select class="form-control" id="course_type" name="course_type">
                            <option value=""></option>
                            <option value="Diploma Program">Diploma
                                Programs</option>
                            <option value="Bachelor Degree">Bachelor
                                Degrees</option>
                            <option value="Master Degree">Master
                                Degrees</option>
                            <option value="Diploma Program">Diploma
                                Programs</option>
                        </select>
                        <span id="course_typespan" style="font-size: 12px;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Duration -->
                    <div class="form-group">
                        <label for="Academic_Disciplines">Academic
                            Disciplines *</label>
                        <select class="form-control" id="academic_disciplines" name="academic_disciplines">
                            <option value=""></option>
                            <option value="Business and Information Technology">Business
                                and Information Technology</option>
                            <option value="Education">Education</option>
                            <option value="Engineering and Applied Science">Engineering
                                and Applied Science</option>
                            <option value="Health Sciences and Medicine">Health
                                Sciences and Medicine</option>
                            <option value="Social Science and Humanities">Social
                                Science and Humanities</option>
                            <option value="Science">Science</option>

                        </select>
                        <span id="academic_disciplinesspan" style="font-size: 12px;"></span>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Course Description -->
                    <div class="form-group">
                        <label for="courseDescription">Course Description *</label>
                        <textarea class="form-control" id="course_desc" name="course_desc" rows="4" required></textarea>
                        <span id="course_descspan" style="font-size: 12px;"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <!-- Course Description -->
                    <div class="form-group">
                        <label for="eligibility">Eligibility *</label>
                        <textarea class="form-control" id="eligibility" name="eligibility" rows="4" required></textarea>
                        <span id="eligibilityspan" style="font-size: 12px;"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <!-- Fees per Semester -->
                    <div class="form-group">
                        <label for="fees">Fees per Semester * (in $)</label>
                        <input type="number" class="form-control" id="fees" name="fees" required>
                        <span id="feesspan" style="font-size: 12px;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Duration -->
                    <div class="form-group">
                        <label for="duration">Duration *</label>
                        <select class="form-control" id="duration" name="duration">
                            <option value=""></option>
                            <option value="3 months">3 months</option>
                            <option value="6 months">6 months</option>
                            <option value="9 months">9 months</option>
                            <option value="1 year">1 year</option>
                            <option value="2 years">2 years</option>
                            <option value="3 years">3 years</option>
                            <option value="4 years">4 years</option>
                            <option value="5 years">5 years</option>
                        </select>
                        <span id="durationspan" style="font-size: 12px;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <!-- Start Date -->
                    <div class="form-group">
                        <label for="opendate">Application opening Date *</label>
                        <input type="date" class="form-control" id="opendate" name="opendate" required>
                        <span id="opendatespan" style="font-size: 12px;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Application Deadline -->
                    <div class="form-group">
                        <label for="appDeadline">Application Deadline *</label>
                        <input type="date" class="form-control" id="appdeadline" name="appdeadline" required>
                        <span id="appdeadlinespan" style="font-size: 12px;"></span>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <!-- Number of Seats Available -->
                    <div class="form-group">
                        <label for="seats_available">Number of Seats Available *</label>
                        <input type="number" class="form-control" id="seats_available" name="seats_available" required>
                        <span id="seats_availablespan" style="font-size: 12px;"></span>
                    </div>
                </div>
                <!-- ... Other form fields ... -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="thumbnail_image">Thumbnail Image *</label>
                        <input type="file" class="form-control-file" id="thumbnail_image" name="thumbnail_image"
                            accept="image/jpeg, image/jpg, image/png" required>
                        <span id="thumbnail_imagespan" style="font-size: 12px;"></span>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
                <div class="col-md-12 text-center"> <!-- Center-align the buttons -->
                    <input type="submit" class="btn btn-primary" id="submitBtn" value="Add Course">
                    <a href="{% url 'courselisting' %}" class="btn btn-primary">Cancel</a>
                </div>
            </div>

        </form>
    </div>

    <!-- Bootstrap JS scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static '/addcourse.js' %}"></script>


</body>

</html>