{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet" />
        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet" />
        <!-- MDB -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
            rel="stylesheet" />
        <!-- MDB -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>

        <link rel="stylesheet" href="{% static '/signup.css' %}">
        <title>Document</title>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
    $(document).ready(function () {

        const fields = [
            { id: "#un", validate: validateuName },
            { id: "#fn", validate: validatefName },
            { id: "#ln", validate: validatesName },
            { id: "#mail", validate: validateEmail },
            { id: "#uid", validate: validateUid },
            { id: "#pass", validate: validatePassword },
            { id: "#cpass", validate: validateConfirmPassword }
        ];
    
        fields.forEach(field => {
            $(field.id).keyup(function () {
                field.validate();
            });
    
            validateFieldOnBlur(field.id, field.validate);
        });
        function checkFormValidity() {
            const isValid = fields.every(field => {
                const $field = $(field.id);
                const $errorSpan = $(`${field.id}span`);

                return $field.val().trim() !== "" && $errorSpan.html() === "";
            });
        
            $("#submitBtn").prop("disabled", !isValid);
        }
        
        
    
        function validateFieldOnBlur(fieldId, validationFunction) {
            $(fieldId).blur(function () {
                validationFunction();
                checkFormValidity();
            });
        }
    
        // Form submission
        $("#form").submit(function (event) {
            if (!$("#submitBtn").prop("disabled")) {
                // Form is valid, allow submission
                return true;
            } else {
                // Form is not valid, prevent submission
                event.preventDefault();
                return false;
            }
        });
    
        // Initial check for form validity
        checkFormValidity();
    
        function validateuName() {
            const name = $("#un").val();
            if (name.trim() === "") {
                $("#unspan").html("Enter the Username").css("color", "#41586B");
            } else {
                $("#unspan").html("");
            }
        }
    
        function validatefName() {
            const name = $("#fn").val();
            const lettersWithSpaces = /^[A-Za-z\s]+$/;
            if (name.trim() === "") {
                $("#fnspan").html("Enter the First Name").css("color", "#41586B");
            } else if (!lettersWithSpaces.test(name)) {
                $("#fnspan").html("First Name field required only alphabet characters with spaces").css("color", "#41586B");
            } else {
                $("#fnspan").html("");
            }
        }
    
        function validatesName() {
            const name = $("#ln").val();
            const lettersWithSpaces = /^[A-Za-z\s]+$/;
            if (name.trim() === "") {
                $("#lnspan").html("Enter the Last Name").css("color", "#41586B");
            } else if (!lettersWithSpaces.test(name)) {
                $("#lnspan").html("Last Name field required only alphabet characters with spaces").css("color", "#41586B");
            } else {
                $("#lnspan").html("");
            }
        }
    
        function validateEmail() {
            const email = $("#mail").val();
            const filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (email === "") {
                $("#mailspan").html("Enter the Email Id").css("color", "#41586B");
            } else if (!filter.test(email)) {
                $("#mailspan").html("Use correct Email Id").css("color", "#41586B");
            } else {
                $("#mailspan").html("");
            }
        }


        //function validateUid() {
          //  const uid = $("#uid").val();
            //const filter = /^\d{12}$/;
           // if (uid === "") {
                //$("#uidspan").html("Enter the Adhaar Number").css("color", "#41586B");
            //} else if (!filter.test(uid)) {
               // $("#uidspan").html("Use correct Adhaar number").css("color", "#41586B");
            //} else {
                //$("#uidspan").html("");
           // }
       // }
    
    
        function validatePassword() {
            const password = $("#pass").val();
            const pwd_expression = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])/;
            if (password === "") {
                $("#passspan").html("Enter the Password").css("color", "#41586B");
            } else if (!pwd_expression.test(password)) {
                $("#passspan").html("Use correct Password").css("color", "#41586B");
            } else {
                $("#passspan").html("");
            }
        }
    
        function validateConfirmPassword() {
            const password = $("#pass").val();
            const confirmPassword = $("#cpass").val();
            if (confirmPassword === "") {
                $("#cpassspan").html("Enter the Confirm Password").css("color", "#41586B");
            } else if (confirmPassword !== password) {
                $("#cpassspan").html("Password do not match").css("color", "#41586B");
            } else {
                $("#cpassspan").html("");
            }
        }
    });
    </script>
    </head>
    <body>
        <section class="background-radial-gradient overflow-hidden">

            <div
                class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-5 display-5 fw-bold ls-tight"
                            style="color: hsl(218, 81%, 95%)">
                            ShareSphere <br />
                            <span
                                style="color: hsl(218, 81%, 75%); font-size: 25px">The
                                complete migration support platform</span>
                        </h1>
                        <p class="mb-4 opacity-70"
                            style="color: hsl(218, 81%, 85%)">
                            Unlock Your Global Journey with ShareSphere!
                            Seamlessly connect, collaborate, and conquer the
                            migration experience as an Indian mover and shaker.
                            From finding top colleges to securing dream jobs and
                            accommodations, ShareSphere is your passport to a
                            thriving new chapter abroad
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1"
                            class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2"
                            class="position-absolute shadow-5-strong"></div>

                        <div class="card bg-glass">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h5
                                    class="card-title text-center mb-4 fw-medium fs-3">SIGN
                                    UP</h5>
                                <form id="form" action method="post">
                                    {% csrf_token %}
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="text"
                                            id="un"
                                            name="username"
                                            class="form-control border" />
                                        <label class="form-label"
                                            id
                                            for="form3Example3">Username</label>
                                        <span id="unspan"
                                            style="font-size: 12px;"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text"
                                            id="fn"
                                            name="fname"
                                            class="form-control border" />
                                        <label class="form-label"
                                            id
                                            for="form3Example3">First Name</label>
                                        <span id="fnspan"
                                            style="font-size: 12px;"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text"
                                            id="ln"
                                            name="lname"
                                            class="form-control border" />
                                        <label class="form-label"
                                            id="label"
                                            for="form3Example3">Last Name</label>
                                        <span id="lnspan"
                                            style="font-size: 12px;"></span>
                                    </div>

                                    <!-- Email input -->

                                    <div class="form-outline mb-4">
                                        <input type="email"
                                            id="mail"
                                            name="email"
                                            class="form-control border" />
                                        <label class="form-label"
                                            for="form3Example3">Email
                                            address</label>
                                        <span id="mailspan"
                                            style="font-size: 12px;"></span>
                                    </div>


                                    <!-- <div class="form-outline mb-4">
                                        <input type="text"
                                            id="uid"
                                            name="uid"
                                            class="form-control border" />
                                        <label class="form-label"
                                            for="form3Example3">UID Number</label>
                                        <span id="uidspan"
                                            style="font-size: 12px;"></span>    
                                    </div> -->
                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input type="password"
                                            id="pass"
                                            name="pass"
                                            class="form-control border" />
                                        <label class="form-label"
                                            for="form3Example4">Password</label>
                                        <span id="passspan"
                                            style="font-size: 12px;"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password"
                                            id="cpass"
                                            name="cpass"
                                            class="form-control border" />
                                        <label class="form-label"
                                            for="form3Example4">Confirm Password</label>
                                        <span id="cpassspan"
                                            style="font-size: 12px;"></span>
                                    </div>

                                    <!-- Checkbox -->
                                    <!-- <div
                                        class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2"
                                            type="checkbox" value
                                            id="form2Example33" checked />
                                        <label class="form-check-label"
                                            for="form2Example33">
                                            Agree to the Terms and Conditions
                                        </label>
                                    </div> -->

                                    <!-- Submit button -->
                                    <button type="submit" id="submitBtn"
                                        class="btn btn-primary btn-block mb-4">
                                        Sign up
                                    </button>
                                
                                    <!-- Register buttons -->
                                    <div class="text-center">
                                        <p>or sign up with:</p>

                                        <div class>
                                            <button
                                                class="btn btn-google btn-login text-uppercase fw-bold col-md-6"
                                                type="submit">
                                                <a
                                                    href="{%url 'social:begin' 'google-oauth2' %}">
                                                    <i
                                                        class="fab fa-google me-2"></i>
                                                    Sign in with Google</a>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="text-center align-item-center">

                                        <label
                                            class="form-check-label mt-3 text-center"
                                            for="forgotpassword">
                                            <a href="{%url 'login' %}"
                                                style="color: #27350F; text-decoration: none">Already
                                                registered? Sign In here</a>

                                        </label>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->

    </body>
</html>